{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    {{ title }}
{% endblock title %}

{% block head %}
    {{ head }}
{% endblock head %}

{% block left_bar %}
    <ul>
        <li>
            <a href="#"> {% trans 'Market list' %} </a>
        </li>
        <li>
            <a href="{% url 'goods_list' %}"> {% trans 'Goods list' %} </a>
        </li>
        <li>
            <a href="{% url 'report_list' %}"> {% trans 'report' %} </a>
        </li>
    </ul>
{% endblock left_bar %}



{% block center_bar %}
    <ul>
    {% for obj in object_list %}
        <li> <a href="{% url 'goods_detail' obj.pk %}"> {{ obj.goods.name }} </a>  - {{ obj.price }} руб. - {{ obj.market }} </li>
    {% endfor %}
    </ul>
{% endblock center_bar%}

{% block user_bar %}
    <p><a href="{% url 'cart' %}"> {% trans 'Cart' %} </a></p>
    <p> Общая стоимость</p>
    <p> {{ request.user.cart.total_cost }}</p>
    <p> Количество видов товара </p>
    <p>{{ request.user.cart.item_cart.all.count }}</p>
    <p>{{ request.user.username }}
{% endblock user_bar%}
