{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block head %}
    {{ head }}
{% endblock head %}

{% block left_bar %}
    <ul>
        <li>
            <a href="#"> {% trans 'Market list' %} </a>
        </li>
        <li>
            <a href="{% url 'goods_list' %}"> {% trans 'Goods list' %} </a>
        </li>

        <li>
            <a href="{% url 'report_list' %}"> {% trans 'report' %} </a>
        </li>

    </ul>
{% endblock left_bar %}

{% block center_bar %}
    <ul>
        <li>
            {{ object.username }}
        </li>
        <li>
            {{ object.first_name }}
        </li>       
        <li>
            {{ object.last_name }}
        </li>
        <li>
            {{ object.email }}
        </li>
        <li>
            {{ object.profile.balance}}
        </li>
        <li>
            {{ object.profile.status.status }}
        </li>
    </ul>
    <form action="{% url 'fill_up_wallet' object.profile.pk %}" method="get">
        <button> {% trans 'Fill up a wallet' %} </button>
    </form>

{% endblock center_bar %}

